# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild*/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
*.unitypackage

# IDEs
.vs/
.idea/
*.sln
*.csproj
*.user
*.userprefs
*.opendb
*.VC.db

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Mobile/Export
.gradle/
*.apk
*.aab
*.ipa
*.app
*.xcworkspace
*.xcodeproj
*.xcuserdata/
*.onnx